$dark-primary-color: #0C151D;
$dark-secondary-color: #FFE071;
$dark-text-primary: #F1F2F4;
$dark-text-secondary: #A3ABB2;
$dark-btn-text-black: #3D3D3D;
$dark-btn-text-white: #A3ABB2;
$dark-tabs-bg: #171F26;
$dark-tabs-selected-bg: #0C151D;

$light-primary-color: #E9EBEC;
$light-secondary-color: #FBD144;
$light-text-primary: #3D3D3D;
$light-text-secondary: #575757;
$light-btn-text-black: #3D3D3D;
$light-tabs-bg: #FFFFFF;
$light-tabs-selected-bg: #D7D7D7;

$responsive-mobile: 780px;
